# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build / dist folders (frontend build)
dist/
build/
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Vite / React / Next local files
*.local
out/
.cache/

